.main {
    background: #171817;
    min-height: 100vh;
    padding: 88px 80px;
}

.container {
    width: calc(1313px + (64px * 2));
    padding: 0 64px;
    margin: 0 auto;
}

.main__wrap {
    box-shadow: 0 4px 42px 12px rgba(0, 0, 0, .35);
    background: #272b2c;
    border-radius: 24px;
    margin: 0 -64px;
    padding: 40px 64px;
}

.main__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    /* font-family: var(--third-family); */
    font-weight: 400;
    font-size: 24px;
}

.main a {
    color: #fff;
    text-decoration: none;
}

.main__menu>*:not(:last-child) {
    margin-right: 48px;
}

.menu__link {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 18px;
    padding: 16px 0;
    /* color: #fff; */
}

.menu__link-active {
    border: 2px solid #72ed2f;
    border-radius: 4px;
    padding: 16px 0;
    width: 163px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}