* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    display: block;
    width: 100%;
    height: auto;
}

ol,
ul {
    list-style-type: none;
}

a, span, label, input, button, b, i, textarea{
    display: inline-block;
    font-family: inherit;
    font-weight: inherit;
}

a, label, input, button, textarea {
    cursor: pointer;
}